*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

#div{
    margin: auto;
    width: 100%;
    height: 100%;
}

#ImgMain{
    width: 100%;
}

#ImgMain img{
    width: 100%;
}

#container{
    margin: auto;
    width: 100%;
    display: flex;
}

#aside{
    width: 25%;
    background-color: aquamarine;
    min-height: 100vh;
    padding-bottom: 200px;
}

#aside section{
    margin: auto;
    width: 70%;
    padding-top: 40px;
}

#aside section img{
    margin-bottom: 20px;
    transition: 0.3s;
}

#aside section img:hover{
    transform: scale(1.1);
}

#main{
    margin: auto;
    width: 75%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 200px;
}

#section{
    margin: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

#cajitaImg{
    background-color: rgb(104, 104, 104);
    width: 200px;
    height: 150px;
}

#cajaImg{
    width: 300px;
}

#img{
    width: 100%;
}

#InfoMain{
    text-align: center;
}

#Info{
    text-align: justify;
}

#mapa{
    margin: auto;
    width: 100%;
    height: 300px;
}

#mapContainer{
    width: 100%;
    height: 100%;
}

#myChart {
    width: 500px;
    height: 300px;
  }