*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

#div{
    margin: auto;
    width: 100%;
    height: 100%;
}

#ContainerF{
    margin: auto;
    margin-top: 30px;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
}

#ContainerFE{
    background-color: #F8F1D6;
    margin: auto;
    margin-top: 15px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#Form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

#Form h3{
    color: #574c20;
    text-align: center;
    margin-bottom: 10px;
}

#Form input, select, textarea{
    background: none;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #635a35;
    width: 100%;
}

.Form textarea{
    min-height: 100px;
}

#linkcito{
    text-align: center;
    margin-top: 3px;
}

#Container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 75%;
    padding-bottom: 200px;
}

li{
    list-style: none;
}

#CardEquipos{
    margin-top: 20px;
    width: 350px;
    min-height: 210px;
    padding: 20px;
    background-color: #F8F1D6;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 30% 50% 20%;
    transition: 0.3s;
}

#CardEquipos:hover{
    transform: scale(1.1);
}

#CardHabitantes{
    margin-top: 20px;
    width: 300px;
    min-height: 250px;
    padding: 20px;
    background-color: #F8F1D6;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    justify-content: center;
    transition: 0.3s;
}

#CardHabitantes:hover{
    transform: scale(1.1);
}

#centrar{
    padding: 4px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 8px;
}

#botones{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#btn{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #574c20;
    border: 1px solid #574c20;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
#btn:hover{
    color: #574c20;
    background: none;
    border: 1px solid #574c20;
    transform: scale(0.9);
}

#InfoPerfil{
    padding: 40px;
}

.oculto{
    display: none;
}
.mostrar{
    display: block;
}