*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

#div{
    margin: auto;
    width: 100%;
    height: 100%;
}

#ContainerF{
    margin: auto;
    margin-top: 30px;
    width: 300px;
    padding: 20px;
    border: 1px solid #696969;
    border-radius: 10px;
}

#ContainerFE{
    margin: auto;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #696969;
    border-radius: 10px;
}

#Form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Form input{
    padding: 5px;
    outline: none;
    width: 260px;
}

#Form select{
    padding: 5px;
    outline: none;
    width: 260px;
}

#Form textarea{
    max-width: 260px;
    min-width: 260px;
    min-height: 100px;
    padding: 5px;
    outline: none;
}

#Form h3{
    text-align: center;
}

#Container{
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 200px;
}

li{
    list-style: none;
}

#CardEquipos{
    margin-top: 20px;
    width: 350px;
    min-height: 220px;
    padding: 20px;
    border: 1px solid #696969;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 30% 60% 10%;
}

#CardHabitantes{
    margin-top: 20px;
    width: 240px;
    min-height: 220px;
    padding: 20px;
    border: 1px solid #696969;
    border-radius: 10px;
}

#btnCRUD{
    display: grid;
    grid-template-columns: 50% 20%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.oculto{
    display: none;
}
.mostrar{
    display: block;
}