#cajita{
    background-color: rgb(104, 104, 104);
    width: 150px;
    height: 150px;
}

#caja{
    background-color: rgb(104, 104, 104);
    width: 300px;
    height: 200px;
}

#cajaG{
    background-color: rgb(104, 104, 104);
    width: 600px;
    height: 300px;
}